page-navigation-dashboard {
  $smallScreen: 600px;
  $largeScreen: 1024px;

  .swiper-slide img {
    width: 100%;
  }

  ion-content .scroll-content {
    overflow: hidden;
  }

  .bar-buttons-ios[left] {
    top: 20px;
  }

  .bar-buttons-md[left] {
    top: 10px;
  }

  .home-menu-btn {
    float: left;
    position: absolute;
    left: 10px;

    button {
      background-color: color($colors, primary) !important;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }

  no-results ion-col {
    max-width: 100% !important;
  }

  ion-scroll {
    white-space: nowrap;
    height: 70%;
    background: #f4f4f4;
  }

  .custom-postion {
    top: -75px;
    right: 5px;
    width: 70px !important;
    height: 70px !important;
    margin-left: 10px;
  }

  ion-spinner * {
    width: 50px;
    height: 50px;
    stroke: #444;
    fill: #222;
  }

  .spinner-container {
    text-align: center !important;
    margin-top: 50px !important;
    margin-left: -50px !important;
  }
  @media(max-width:600px) {
    .highlights-container {
      height: 200px !important;
    }
  }
  @media(min-width:600px) {
    .highlights-container {
      height: 225px !important;
    }
  }

  .highlights-container {
    height: 215px !important;
  }

  button.scroll-item {
    height: 70px !important;
  }

  .highlights-container .scroll-content {
    border-bottom: 1px solid #e0e0e0;
  }

  ion-item-divider {
    border-bottom: 1px solid #e0e0e0;
  }

  .scroll-item {
    display: inline-block;
    width: 80%;
    height: 115px !important;
    margin-right: 0;
  }

  .home-content {
    width: 100%;
    height: 65%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .custom {
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    display: block;
    text-align: center;
  }

  .button-bottom-text {
    margin: auto;
    color:#5a919c !important;
  }

  .home-menu-btn .button-inner{
    background-color: #5a919c !important;
  }

  .buttonIcon {
    height: 4.6rem !important;
    font-size: 2.4rem !important;
  }

  .centerGrid {
    text-align: -webkit-center;
    background-color: white;
    z-index: 1000;
    position: relative;
    // height: 40% !important;
    // display: flex;
    // justify-content: center;
  }

  .IconButton {
    font-size: -webkit-xxx-large;
    color:#5a919c !important;
  }

  ion-slides {
    height: 30vh !important;
    margin-top: -3px;
  }

  ion-col {
    margin: auto;
    @media (max-width:$smallScreen) {
      max-width: 100px !important;
    }
    @media(min-width:$largeScreen) {
      max-width: 335px !important;
    }
  }

  ion-col label {
    color: darken(color($colors, primary), 10%) !important;
  }

  .swiper-slide div {
    height: 35vh !important;
    width: 100% !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .swiper-slide {
    overflow: hidden !important;
  }

  .home-header {
    margin: 0 !important;
    width: 100%;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, white) !important;
  }
}
