<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="event">
    <div class="event-title" padding>
      <h3>{{ event.Name }}</h3>
      <span>{{ event.EventStartDate | amDateFormat: 'dddd MMMM DD YYYY' }} at {{ event.EventStartDate | amDateFormat:'hh:mm A' }}</span>
    </div>

    <div class="event-details" padding *ngIf="event.Notes">
      <p [innerHTML]="event.Notes"></p>
    </div>

    <div class="attendence" *ngIf="event.AvailableSeats">
      <div class="total">
        <div class="block-width">
          <img class="event-icon" src="assets/img/seat-icon.svg">
        </div>
        <div>
          <span class="bold-font">Available Seats</span>
          <h4 color="primary">{{ ((event.AvailableSeats||100) - event.RegisteredParticipants) || 0 }}</h4>
        </div>
      </div>
      <div class="attended">
        <div class="block-width">
          <img class="event-icon" src="assets/img/money-icon.svg">
        </div>
        <div>
          <span class="bold-font">Material Fee</span>
          <h4 color="primary">{{ event.EventCost ? '$'+event.EventCost : '$0'}}</h4>
        </div>
      </div>
    </div>

    <ion-item *ngIf="participationStatus" no-lines>
      <ion-icon name="information-circle" item-left large></ion-icon>
      <div class="ticket-container" *ngIf="participationStatus == 'Registered'">
        <button ion-button outline class="ticket-button" (click)="viewTicket($event,event)">
        View Ticket
      </button>
      </div>
      <span class="bold-font">Participation Status</span>
      <h2 color="primary">{{ participationStatus }}</h2>

    </ion-item>

    <ion-item *ngIf="isValidAddress()" no-lines>
      <ion-icon name="pin" item-left large></ion-icon>
      <span class="bold-font">Event Venue</span>
      <h2 color="primary">Online</h2>
    </ion-item>

    <!-- Dynamic map -->
    <static-map [params]="event.EventVenue" *ngIf="!isValidAddress()"></static-map>

    <!-- Attendee event options -->
    <ion-buttons *ngIf="isLive() && uid && participationStatus!='Attended'">
      <ion-row *ngIf="participationStatus != 'Registered'">
        <ion-col *ngIf="!participationStatus || participationStatus != 'Interested'">
          <button ion-button icon-left outline color="cyan" block (click)="markInterested()">
            Interested
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block color="primary" *ngIf="!participationStatus || participationStatus != 'Registered' || participationStatus == 'Canceled'" (click)="buyTicket()">Buy Ticket</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="participationStatus == 'Registered'">
        <ion-col>
          <button ion-button block color="light" (click)="cancelTicket()">Cancel Ticket</button>
        </ion-col>
      </ion-row>
    </ion-buttons>

    <!-- show speaker of current event -->
    <speaker-card [params]="event" [participationStatus]="participationStatus"></speaker-card>
    <rating [args]="{eventId:event.EventId, type:'event', uid: uid, ratingEnabled: true}" [disabled]="(participationStatus == 'Interested')" *ngIf="participationStatus && participationStatus != 'Canceled'"></rating>

  </div>
</ion-content>