<ion-list *ngIf="speakers.length > 0">
  <ion-list-header color="light">
    Contacts
  </ion-list-header>
  <ion-item *ngFor="let speaker of speakers" (click)="viewSpeker(speaker)">
    <text-avatar [text]="speaker.Name" class="float-left"></text-avatar>
    <span>{{speaker.Name}}</span>
    <p color="primary">{{speaker.Email}}</p>
  </ion-item>
</ion-list>
