<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
<!--     <ion-buttons left>
      button ion-button menuToggle="left" >
        <ion-icon name="menu"></ion-icon>
      </button> 
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="skip()" type="button" clear>SKIP</button>
    </ion-buttons> -->
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="primary" scroll="false" has-header has-footer>
  <div class="logo" *ngIf="bannerPicture">
    <img [src]="bannerPicture" alt="Default logo" class="imageLogo">
  </div>
  <ion-list>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Email</ion-label>
        <ion-input [(ngModel)]="login.email" name="email" type="email" color="primary" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <ion-row responsive-sm padding>
    <button ion-button (click)="onLogin(loginForm)" [disabled]="loginForm.invalid" type="submit" block color="primary">Next</button>
  </ion-row>
</ion-content>
<ion-footer *ngIf="showFooter">
  <ion-toolbar color="primary" padding>
    <p>By clicking "Next" you agree to our <a [clickAction]="'https://inqude.com/web/terms-and-conditions.html'">Terms of Use</a> and <a [clickAction]="'https://inqude.com/web/privacy-policy.html'">Privacy Policy</a></p>
  </ion-toolbar>
</ion-footer>