page-otp {
  .toolbar-background-md {
    box-shadow: none;
    border: 0 !important;
  }

  h2 {
    margin-top: 70px;
  }

  .text {
    width: 80px;
    height: 27px;
    position: center;
    padding-top: 1px;
    margin: auto;
    font-size: 1.0em !important;
    text-align: center;
  }

  input.text-input.text-input-md,
  ion-toolbar {
    text-align: center;
  }

  .otp-container {
    border-bottom: 1px solid color($colors,light) !important;
  }
.otp-container input.text-input-ios::placeholder{
  color: color($colors,primary);
  font-size: 3.5rem;
}
  .toolbar-title {
    width: auto !important;
  }

  .messages,
  .title,
  div.phoneNumber-btn {
    text-align: center;
  }

  div.phoneNumber-btn button {
    border: 1px solid #7fadfd !important;
    color: rgba(0, 0, 0, 0.73) !important;
  }

  .messages {
    font-size: 1.5rem;
    width: 100%;
  }

  .messages p {
    color: #d3ddef !important;
  }

  ion-input input.text-input {
    text-align: center;
  }

  ion-input input.text-input::placeholder {
    color: color($colors,primary);
    font-size: 3.5rem;
  }

  ion-input input.text-input-ios::placeholder {
    color: color($colors,primary);
    font-size: 3.5rem;
  }

  .item-block .item-inner {
    border-bottom: none !important;
  }
}
