<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
      <button ion-button clear block [disabled]="userDetailForm.invalid" (click)="saveUserDetails(userDetailForm)">
        Finish
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #userDetailForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">First Name</ion-label>
        <ion-input [(ngModel)]="user.firstName" type="text" name="firstName" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastName" type="text" name="lastName" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastName" type="text" name="lastName" required>
        </ion-input>
      </ion-item>
      <ion-item-divider>
        University Details
      </ion-item-divider>

      <ion-item>
        <ion-label stacked color="primary" class="required-input">University name</ion-label>
        <ion-input [(ngModel)]="university.name" type="text" name="name" required>
        </ion-input>
      </ion-item>

    </form>
  </ion-list>
</ion-content>
