<div *ngIf="!params.minifiedPost">
  <div padding>
    {{ post.caption ? post.caption : '' }}
  </div>
  <img [src]="post.image ? post.image: 'assets/img/banner_img.jpg'" class="banner-img" [clickAction]="post.targetData" clickType="menu" />
</div>
<!-- minified version of the Post-->
<div *ngIf="params.minifiedPost" [clickAction]="post.targetData" clickType="menu">
  <div class="left-container">
    <img [src]="post.image ? post.image: 'assets/img/banner_img.jpg'" class="banner-img" [imageCache]="post.image" />
  </div>
  <div padding class="right-container">
    <p>
      {{ post.caption ? post.caption : '' }}
    </p>
  </div>
</div>
