<ion-item>
  <button ion-button outline small (click)="attachImage()">Attach Images</button>
</ion-item>
<ion-item-group [reorder]="!edit" (ionItemReorder)="onItemReorder($event)">
  <ion-item *ngFor="let image of images; let i = index" style="border-bottom:1px solid #dedede;">
  <ion-thumbnail style="text-align:center !important;">
    <img [src]="image"/>
  </ion-thumbnail>
    <ion-icon name="more" (click)="showOptions(item, i)" item-right></ion-icon>
  </ion-item>
</ion-item-group>
