page-event-detail {
  .event-details {
    p {
      margin: 0;
    }

    h3 {
      margin: 10px auto !important;
    }
  }

  .attendence {
    overflow: hidden;
    background-color: lighten(color($colors, primary), 10);
    margin: auto 16px 30px;
    color: white;
    border-radius: 10px;
  }

  .event-card {
    border-bottom: 1px solid rgba(153, 153, 153, 0.55);
  }

  .attendence div {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px 0;
  }

  .attendence div.attended {
    background-color: lighten(color($colors, secondary), 10);
    text-shadow: 1px 1px 1px darken(color($colors, secondary), 10);
  }

  .attendence div.total {
    text-shadow: 1px 1px 1px darken(color($colors, primary), 10);
  }

  h4 {
    margin: 0;
    font-size: 2.5em;
  }

  .participants-list {
    margin: 0;
    height: 100% !important;
  }

  ion-chip {
    height: 25px !important;

    ion-label {
      line-height: 1.8;
    }
  }

  .participants-list ion-icon {
    font-size: 2em;
    float: right;
    margin-top: -5px;
  }

  .status-button {
    float: right;
  }

  .scroll-content {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: stretch
  }
  .participants-list {
    flex-grow: 1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  ion-list {
    height: 100% !important;
  }

  ion-scroll{
    flex: 1;
  }

  .moderator-list ion-scroll {
    height: 43vh !important;
  }

  ion-card {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
  }

  ion-segment-button.segment-button {
    background-color: color($colors, light);
  }

  label {
    margin-left: 5px;
    color: black !important;
  }

  ion-item.item.item-block {
    border-bottom: 1px solid lightgrey;
  }

  ion-row {
    padding: 2px;
  }

  ion-footer button {
    background-color: rgba(158, 158, 158, 0);
  }

  ion-footer {
    background-color: #f4f4f4;
  }

  ion-footer .icon {
    color: black !important;
    padding-right: 8px;
  }

  ion-footer::before {
    top: 0 !important;
    bottom: 0 !important;
    height: 0 !important;
    background-position: unset !important;
  }

  .alert-controller {
    max-height: 50vh !important;
  }
}

.toast-error-message,
.toast-success-message {
  .toast-wrapper {
    background-color: none !important;
  }

  .toast-container {
    background-color: color($colors, danger) !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }

  .toast-container:before {
    content: "\f19f";
    width: 50px;
    height: 100px;
    display: inline-block;
    font-family: "Ionicons";
    font-size: 3em;
    color: #fff;
    text-align: center;
  }

  .toast-message {
    font-size: 1.5em;
  }
}

.toast-success-message {
  .toast-container {
    background-color: color($colors, secondary) !important;
  }

  .toast-container:before {
    content: "\f149";
  }
}
